@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Red+Hat+Mono:wght@300&display=swap');

:root{
    --main-color: #fef900;
    --black: #13131a;
    --bg: #010103;
    --border: .1rem solid rgba(255,255,255,.3);
}

*{
   font-family: 'Poppins', sans-serif;
   margin: 0;
   box-sizing: border-box;
   outline: none;
   text-decoration: none;
   text-transform: capitalize;
   transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--bg);
}

h1{
    font-family: 'Poppins', sans-serif;
}

h3{
    font-family: 'Poppins', sans-serif;
}

p{
    font-weight: lighter;
}

section{
    padding: 2rem 7%;
}



.heading{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color: var(--main-color);
    text-transform: uppercase;
}

.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 6rem;
}

.header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #fff;
}

.header .navbar a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div {
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover {
    color: var(--main-color);
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:var(--black);
    background: var(--main-color);
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

.btn:hover{
    color: whitesmoke;
    background: var(--bg);
}

#menu-btn{
    display: none;
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover;
    background:linear-gradient(rgba(58, 58, 58, 0.7),rgba(36, 35, 35, 0.75)), url(../images/Cover1.jpg) no-repeat;
   }



.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 6rem;
    color: #fff;
    font-weight: 900;
}

.home .content span{
    color: #fef900;
}

.home .content p{
    font-size: 2rem;
    font-weight: medium;
    line-height: 1.8;
    padding: 1rem 0;
    color: #fff;
}

.about .row{
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
    border-radius: 50px;
}

.about .row .image{
    flex: 1 1 45rem;
}

.about .row .image img{
    width: 100%;
}

.about .row .content{
    flex: 1 1 45rem;
    padding: 2rem;
}

.about .row .content h3{
    font-size: 3rem;
    color: whitesmoke;
}

.about .row .content h3 span{
    color: #fef900;
}

.about .row .content p{
    font-size: 1.6rem;
    color: whitesmoke;
    padding: 1rem 0;
    line-height: 1.8;
}

.winter .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.winter .box-container .box{
    text-align: center;
    border: var(--border);
    padding: 2rem;
}

.winter .box .box img{
    height: 10rem;
}

.winter .box-container .box h3{
    color: whitesmoke;
    font-size: 2rem;
    padding: 1rem 0;
}

.winter .box-container .box .price{
    color: whitesmoke;
    font-size: 2.5rem;
    padding: 5rem 0;
}

.winter .box-container .box .image{
    padding: 2.5rem 0;
}

.winter .box-container .box .price span{
    color: whitesmoke;
    font-size: 1.5rem;
    text-decoration: line-through;
}






.products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.products .box-container .box{
    text-align: center;
    border: var(--border);
    padding: 2rem;
}

.products .box-container .box .image{
    padding: 2.5rem 0;
}

.products .box-container .box .image img{
    height: 25rem 0;
}

.products .box-container .box .content h3{
    color: whitesmoke;
    font-size: 2.5rem;
}

section .video-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}

section .video-container .video{
    height: 800px;
    width: 1000px;
    border: 2px solid grey;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .7);
    cursor: pointer;
    overflow: hidden;
}

section .video-container .video video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}

section .video-container .video:hover video{
    transform: scale(1.1);
}


.contact .row{
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
    gap: 1rem;
}

.contact .row .map{
    flex: 1 1 45rem;
}

.contact .row form{
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: whitesmoke;
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--bg);
    border: var(--border);
}

.contact .row form .inputBox span{
    color: whitesmoke;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: whitesmoke;
    text-transform: none;
    background: none;
}

.message{
    height: 250px;
}

i{
    padding-right: 20px;
}

.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.blogs .box-container .box{
    border: var(--border);
}

.blogs .box-container .box .image{
    height: 25rem;
    overflow: hidden;
    width: 100%;
}

.blogs .box-container .box .image img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.blogs .box-container .box:hover .image img{
    transform: scale(1.2);
}

.blogs .box-container .box .content{
    padding: 2rem;
}

.blogs .box-container .box .content .title{
    font-size: 1.5rem;
    line-height: 1.5;
    color: whitesmoke;
}

.blogs .box-container .box .content span{
    color: var(--main-color);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}

.blogs .box-container .box .content p{
    font-size: 1.6rem;
    line-height: 1.8;
    color: whitesmoke;
    padding: 1rem 0;
}

.footer{
    background: var(--black);
    text-align: center;
}


.footer .share{
    padding: 1rem 0;
}

.footer .share a{
    padding: 1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: whitesmoke;
    border: var(--border);
    margin: .3rem;
    border-radius: 50%;
}

.footer .share a:hover{
    color: var(--main-color);
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}

.footer .links a{
    padding: .7rem 2rem;
    color: whitesmoke;
    border: var(--border);
    font-size: 2rem;
}

.footer .links a:hover{
    background: var(--main-color);
    color: var(--bg);
}

.footer .credit{
    font-size: 2rem;
    color: whitesmoke;
    font-weight: lighter;
    padding: 1.5rem;
}

.footer .credit span{
    color: var(--main-color);
}




/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

    section .video-container .video{
        height: 600px;
        width: 600px; 
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: var(--black);
        opacity: .9;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        color:whitesmoke;
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
    }


    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

}



@media (max-width:450px){

    html{
        font-size: 50%;
    }
    .home{
         background:linear-gradient(rgba(58, 58, 58, 0.7),rgba(36, 35, 35, 0.75)), url(../images/Cover3.jpg) no-repeat;
         min-height: 100vh;
         display: flex;
         align-items: center;
         background-size: cover;
    }

   

}